<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Porto - Bootstrap eCommerce Template</title>

	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Porto - Bootstrap eCommerce Template">
	<meta name="author" content="SW-THEMES">

	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" th:href="@{/../images/icons/favicon.png}">


	<script>
		WebFontConfig = {
			google: { families: [ 'Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700', 'Shadows+Into+Light:400' ] }
		};
		( function ( d ) {
			var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
			wf.src = 'assets/js/webfont.js';
			wf.async = true;
			s.parentNode.insertBefore( wf, s );
		} )( document );
	</script>

	<!-- Plugins CSS File -->
	<link rel="stylesheet" th:href="@{/../css/bootstrap.min.css}">

	<!-- Main CSS File -->
	<link rel="stylesheet" th:href="@{/../css/style.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/../vendor/fontawesome-free/css/all.min.css}">
</head>

<body>
	<div class="page-wrapper">
		<th:block th:insert="user/layout/header.html"></th:block><!-- End .header -->

		<main class="main mt-3">
			<div class="container">
				<nav aria-label="breadcrumb" class="breadcrumb-nav">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/}"><i class="icon-home"></i></a></li>
						<li class="breadcrumb-item active" aria-current="page">CART</li>
					</ol>
				</nav>

				<div class="row">
					<div class="col-lg-8">
						<div class="cart-table-container">
							<table class="table table-cart">
								<thead>
									<tr>
										<th class="thumbnail-col"></th>
										<th class="product-col">Product</th>
										<th class="price-col">Price</th>
										<th class="qty-col">Quantity</th>
										<th class="text-right">Subtotal</th>
									</tr>
								</thead>
								<tbody>
									<tr class="product-row" th:each="item : ${cartItems}">
										<td>
											<figure class="product-image-container">
												<a href="#" class="product-image">
													<img  th:src="@{|/uploads/images/${item.product.imageUrl}|}" alt="product">
												</a>

												<a th:href="@{/delete/{id}(id=${item.product.productId})}" class="btn-remove icon-cancel" title="Remove Product"></a>
											</figure>
										</td>
										<td class="product-col">
											<h5 class="product-title">
												<a href="#" th:text="${item.product.productName}"></a>
											</h5>
										</td>
										<td th:text="${#numbers.formatDecimal(item.product.price, 0, 'COMMA', 0, 'POINT') + ' VND'}"></td>
<!--										<td>-->
<!--											<div class="product-single-qty">-->
<!--												<input th:value="${item.quantity}" class="horizontal-quantity form-control" type="text">-->
<!--											</div>-->
<!--										</td>-->
										<td>
												<div class="col product-single-qty d-flex">
													<div>
														<a class="btn btn-primary form-control border d-flex justify-content-center align-items-center" th:href="@{/reduce/{id}(id=${item.product.productId}, quantity=1)}">-</a>

													</div>
													<div>
														<input th:value="${item.quantity}" name="quantity" class="form-control border d-flex justify-content-center align-items-center" />
													</div>
													<div>
														<a class="btn btn-primary form-control border d-flex justify-content-center align-items-center" th:href="@{/increase/{id}(id=${item.product.productId}, quantity=1)}">+</a>

													</div>
												</div>
										</td>

										<td class="text-right"><span class="subtotal-price" th:text="${#numbers.formatDecimal(item.product.price*item.quantity, 0, 'COMMA', 0, 'POINT') + ' VND'}"></span></td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="5" class="clearfix">
											<div class="float-left">
												<div class="cart-discount">
													<form action="#">
														<div class="input-group">
															<div class="input-group-append">
																<a th:href="@{/products}" class="btn btn-sm" type="submit">Tiếp tục mua sắm</a>
															</div>
														</div><!-- End .input-group -->
													</form>
												</div>
											</div><!-- End .float-left -->

<!--											<div class="float-right">-->
<!--												<button type="submit" class="btn btn-shop btn-update-cart">-->
<!--													Update Cart-->
<!--												</button>-->
<!--											</div>&lt;!&ndash; End .float-right &ndash;&gt;-->
										</td>
									</tr>
								</tfoot>
							</table>
						</div><!-- End .cart-table-container -->
					</div><!-- End .col-lg-8 -->

					<div class="col-lg-4">
						<div class="cart-summary">
							<h3>CART TOTALS</h3>

							<table class="table table-totals">
								<tfoot>
									<tr>
										<td>Total</td>
										<td th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT') + ' VND'}"></td>
									</tr>
								</tfoot>
							</table>

							<div class="checkout-methods">
								<a th:href="@{checkout}" class="btn btn-block btn-dark">Proceed to Checkout
									<i class="fa fa-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div><!-- End .row -->
			</div><!-- End .container -->

			<div class="mb-6"></div><!-- margin -->
		</main><!-- End .main -->

		<th:block th:insert="user/layout/footer.html"></th:block>
	</div><!-- End .page-wrapper -->

	<div class="loading-overlay">
		<div class="bounce-loader">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
	</div>

	<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->



	<a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

	<!-- Plugins JS File -->
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script th:src="@{/../js/jquery.min.js}"></script>
	<script th:src="@{/../js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/../js/plugins.min.js}"></script>

	<!-- Main JS File -->
	<script th:src="@{/../js/main.min.js}"></script>
</body>
</html>