<!doctype html>
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="admin/layout/head.html"></th:block>
<body>
<div id="ebazar-layout" class="theme-blue">

    <!-- sidebar -->
    <th:block th:insert="admin/layout/sidebar.html"></th:block>

    <!-- main body area -->
    <div class="main px-lg-4 px-md-4">

        <!-- Body: Header -->
        <th:block th:insert="admin/layout/header.html"></th:block>

        <!-- Body: Body -->
        <div class="body d-flex py-lg-3 py-md-2">
            <div class="container-xxl">
                <div class="row align-items-center">
                    <div class="border-0 mb-4">
                        <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                            <h3 class="fw-bold mb-0">Order</h3>
                            <div class="col-auto d-flex w-sm-100">
<!--                                <button type="button" class="btn btn-primary btn-set-task w-sm-100" data-bs-toggle="modal" data-bs-target="#expadd"><i class="icofont-plus-circle me-2 fs-6"></i>Add Customers</button>-->
                            </div>
                        </div>
                    </div>
                </div> <!-- Row end  -->
                <div class="row clearfix g-3">
                    <div class="col-sm-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <table  class="table border table-bordered table-hover align-middle mb-0" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Phone</th>
                                        <th>notes</th>
                                        <th>Order_Date</th>
                                        <th>totalPrice</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="order : ${orderList}">
                                            <td th:text="${order.id}"></td>
                                            <td th:text="${order.fullName}"></td>
                                            <td th:text="${order.address}"></td>
                                            <td th:text="${order.phone}"></td>
                                            <td th:text="${order.notes}"></td>
                                            <td th:text="${order.date}"></td>
                                            <td th:text="${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'POINT') + ' VND'}"></td>
                                            <td th:text="${order.status == 0 ? 'Đang chờ' : (order.status == 1 ? 'Đã xác nhận' : 'Đã hủy')}"></td>
<!--                                            <td>-->
<!--                                                <span th:each="detail : ${orderDetailList}" th:if="${detail.orderId==order.id}">-->
<!--                                                    <span th:text="${detail.product.productName + ', ' + detail.quantity + ',' +#numbers.formatDecimal(detail.price, 0, 'COMMA', 0, 'POINT')+'VND'}"></span><br/></span>-->
<!--                                            </td>-->
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                                    <a th:href="@{/admin/bills/{id}(id=${order.id})}" type="button" class="btn btn-outline-secondary"><i
                                                            class="icofont-edit text-success"></i></a>
                                                    <div  th:if="${order.status == 0}">
                                                        <a  th:href=" @{/admin/order-change/{id}(id=${order.id})}" class="btn btn-outline-secondary">Xác Nhận</a>
                                                        <a th:href=" @{/admin/order-cancel/{id}(id=${order.id})}" class="btn btn-outline-secondary deleterow">Hủy</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!-- Row End -->
            </div>
        </div>
        <!-- Modal Custom Settings-->
        <th:block th:insert="/admin/layout/settings.html"></th:block>

        </div>

    </div>

</div>

<th:block th:insert="admin/layout/js.html"></th:block>
</body>

</html>