<!doctype html>
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="admin/layout/head.html"></th:block>
<body>
    <div id="ebazar-layout" class="theme-blue">
        
        <!-- sidebar -->
        <th:block th:insert="admin/layout/sidebar.html"></th:block>

        <!-- main body area -->
        <div class="main px-lg-4 px-md-4">

            <!-- Body: Header -->
            <th:block th:insert="admin/layout/header.html"></th:block>

            <!-- Body: Body -->
            <div class="body d-flex py-lg-3 py-md-2">
                <div class="container-xxl">

                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="tab-content">
                                <div class="tab-pane fade" id="Invoice-list">
                                    <div class="row justify-content-center">

                                    </div>  <!-- Row end  -->
                                </div> <!-- tab end  -->
                                <div class="tab-pane fade show active" id="Invoice-Simple">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8 col-md-12">
                                            <div class="card p-xl-5 p-lg-4 p-0">
                                                <div class="card-body">

                                                    <div >
                                                        <div class="mb-3 pb-3 border-bottom">
                                                            Invoice
                                                            <strong ></strong>
                                                            <span class="float-end"> <strong th:text="${order.id}"></strong></span>
                                                        </div>

                                                        <div class="row mb-4">
                                                            <div class="col-sm-6">
                                                                <h6 class="mb-3">From:</h6>
                                                                <div><strong>Shop</strong></div>
                                                                <div>111  Berkeley Rd</div>
                                                                <div>Toà Nhà Sông Đà</div>
                                                                <div>Email: bang102001@gmail.com</div>
                                                                <div>Phone: 0968783032</div>
                                                            </div>

                                                            <div class="col-sm-6">
                                                                <h6 class="mb-3">To:</h6>
                                                                <div th:text="${order.fullName}"></div>
                                                                <div th:text="${order.address}"></div>
                                                                <div>Email:<span th:text="${order.email}"></span></div>
                                                                <div>Phone: <span th:text="${order.phone}"></span></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="table-responsive-sm">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center">ProductName</th>
                                                                    <th>Product Price</th>
                                                                    <th>Quantity</th>
<!--                                                                    <th class="text-end">Item Cost</th>-->
<!--                                                                    <th class="text-center">Products Item</th>-->
                                                                    <th class="text-end">Total</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr th:each="orderdt: ${orderDetailList}">
                                                                    <td th:text="${orderdt.product.productName}"></td>
                                                                    <td th:text="${#numbers.formatDecimal(orderdt.price, 0, 'COMMA', 0, 'POINT') + ' VND'}"></td>
                                                                    <td th:text="${orderdt.quantity}"></td>
                                                                    <td th:text="${#numbers.formatDecimal(orderdt.price*orderdt.quantity, 0, 'COMMA', 0, 'POINT') + ' VND'}"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-4 col-sm-5">
                                                        
                                                        </div>
                                                        
                                                        <div class="col-lg-4 col-sm-5 ms-auto">
                                                            <table class="table table-clear">
                                                                <tbody>
                                                                    <tr >
                                                                        <td ><strong>Tổng</strong></td>

                                                                        <td class="text-end"><strong th:text="${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'POINT') + ' VND'}"></strong></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div> <!-- Row end  -->
                    
                                                    <div class="row">
                                                        <div class="col-lg-12 text-end">
                                                            <a th:href="@{/admin/orders}" type="button" class="btn btn-outline-secondary btn-lg my-1"><i class="fa fa-print"></i> Thoát</a>
                                                        </div>
                                                    </div> <!-- Row end  -->
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- Row end  -->
                                </div> <!-- tab end  -->
                            </div>
                        </div>

                    </div> <!-- Row end  -->
                </div>
            </div>

            <!-- Modal Custom Settings-->
            <th:block th:insert="/admin/layout/settings.html"></th:block>

        </div>

    </div>

    <!-- Jquery Core Js -->
<!--    <script src="assets/bundles/libscripts.bundle.js"></script>-->

<!--    &lt;!&ndash; Jquery Page Js &ndash;&gt;-->
<!--    <script src="../js/template.js"></script>-->
    <th:block th:insert="admin/layout/js.html"></th:block>
</body>
</html>