<footer class="footer bg-dark">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="widget">
            <h4 class="widget-title">THÔNG TIN LIÊN LẠC</h4>
            <ul class="contact-info">
              <li>
                <span class="contact-info-label">ĐỊA CHỈ:</span>Sông Đà
              </li>
              <li>
                <span class="contact-info-label">ĐIỆN THOẠI:</span><a href="tel:">(+84)
                968-783032</a>
              </li>
              <li>
                <span class="contact-info-label">Email:</span> <a href="https://portotheme.com/cdn-cgi/l/email-protection#600d01090c200518010d100c054e030f0d"><span class="__cf_email__" data-cfemail="f79a969e9bb7928f969a879b92d994989a">[email&#160;protected]</span></a>
              </li>
              <li>
                <span class="contact-info-label">NGÀY/ GIỜ LÀM VIỆC:</span>  Thứ Hai - Chủ Nhật / 9:00 AM - 8:00 PM
              </li>
            </ul>
            <div class="social-icons">
              <a href="#" class="social-icon social-facebook icon-facebook" target="_blank" title="Facebook"></a>
              <a href="#" class="social-icon social-twitter icon-twitter" target="_blank" title="Twitter"></a>
              <a href="#" class="social-icon social-instagram icon-instagram" target="_blank" title="Instagram"></a>
            </div>
            <!-- End .social-icons -->
          </div>
          <!-- End .widget -->
        </div>
        <!-- End .col-lg-3 -->

        <div class="col-lg-3 col-sm-6">
          <div class="widget">
            <h4 class="widget-title"> DỊCH VỤ KHÁCH HÀNG</h4>
            <ul class="links">
              <li><a href="#">Trợ giúp & Câu hỏi thường gặp</a></li>
              <li><a href="#">Theo dõi đơn hàng</a></li>
              <li><a href="#">Vận chuyển & Giao hàng</a></li>
              <li><a href="#">Lịch sử đơn hàng</a></li>
              <li><a href="#">Tìm kiếm nâng cao</a></li>
              <li><a href="dashboard.html">Tài khoản của tôi</a></li>
              <li><a href="#">Nghề nghiệp</a></li>
              <li><a href="about.html">Về chúng tôi</a></li>
              <li><a href="#">Doanh số bán hàng của công ty</a></li>
              <li><a href="#">Sự riêng tư</a></li>
            </ul>
          </div>
          <!-- End .widget -->
        </div>
        <!-- End .col-lg-3 -->

        <div class="col-lg-3 col-sm-6">
          <div class="widget">
            <h4 class="widget-title">Popular Tags</h4>

            <div class="tagcloud">
              <a href="#">Bag</a>
              <a href="#">Black</a>
              <a href="#">Blue</a>
              <a href="#">Clothes</a>
              <a href="#">Fashion</a>
              <a href="#">Hub</a>
              <a href="#">Shirt</a>
              <a href="#">Shoes</a>
              <a href="#">Skirt</a>
              <a href="#">Sports</a>
              <a href="#">Sweater</a>
            </div>
          </div>
          <!-- End .widget -->
        </div>
        <!-- End .col-lg-3 -->

        <div class="col-lg-3 col-sm-6">
          <div class="widget widget-newsletter">
            <h4 class="widget-title">Subscribe newsletter</h4>
            <p>Get all the latest information on events, sales and offers. Sign up for newsletter:
            </p>
            <form action="#" class="mb-0">
              <input type="email" class="form-control m-b-3" placeholder="Email address" required>

              <input type="submit" class="btn btn-primary shadow-none" value="Subscribe">
            </form>
          </div>
          <!-- End .widget -->
        </div>
        <!-- End .col-lg-3 -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .footer-middle -->

  <div class="container">
    <div class="footer-bottom">
      <div class="container d-sm-flex align-items-center">
        <div class="footer-left">
          <span class="footer-copyright">© Porto eCommerce. 2021. All Rights Reserved</span>
        </div>

        <!--                    <div class="footer-right ml-auto mt-1 mt-sm-0">-->
        <!--                        <div class="payment-icons">-->
        <!--                            <span class="payment-icon visa" style="background-image: url(assets/images/payments/payment-visa.svg)"></span>-->
        <!--                            <span class="payment-icon paypal" style="background-image: url(assets/images/payments/payment-paypal.svg)"></span>-->
        <!--                            <span class="payment-icon stripe" style="background-image: url(assets/images/payments/payment-stripe.png)"></span>-->
        <!--                            <span class="payment-icon verisign" style="background-image:  url(assets/images/payments/payment-verisign.svg)"></span>-->
        <!--                        </div>-->
        <!--                    </div>-->
      </div>
    </div>
    <!-- End .footer-bottom -->
  </div>
  <!-- End .container -->
</footer>
<!-- End .footer -->