<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    <link rel="icon" th:href="@{/..favicon.ico}" type="image/x-icon"> <!-- Favicon-->

    <!-- plugin css file  -->
    <link rel="stylesheet" th:href="@{/../plugin/datatables/responsive.dataTables.min.css}">
    <link rel="stylesheet" th:href="@{/../plugin/datatables/dataTables.bootstrap5.min.css}">

    <!-- project css file  -->
    <link rel="stylesheet" th:href="@{/../css/ebazar.style.min.css}">
</head>