<!doctype html>
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<style>
    #output {
        max-width: 100%;
        height: auto;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 10px;
    }
</style>


<th:block th:insert="admin/layout/head.html"></th:block>
<body>
<div id="ebazar-layout" class="theme-blue">

    <!-- sidebar -->
    <th:block th:insert="admin/layout/sidebar.html"></th:block>

    <!-- main body area -->
    <div class="main px-lg-4 px-md-4">

        <!-- Body: Header -->
        <th:block th:insert="admin/layout/header.html"></th:block>
        <!-- Body: Body -->
        <div class="body py-lg-3 py-md-2">
            <div class="container-xxl">
                <div class="row align-items-center">
                    <div class="border-0 mb-4">
                        <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                            <h3 class="text-center fw-bold mb-0">Category</h3>
                        </div>
                    </div>
                </div> <!-- Row end  -->
                <div class="row clearfix g-3">
                    <div class="col-lg-8">
                        <div class="card mb-3">
                            <div class="card-body">
                                <form th:object="${product}" method="post" th:action="@{/admin/create-product}"  enctype="multipart/form-data">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-12">
                                            <label class="form-label">Product Name:</label>
                                            <input type="text" th:field="*{productName}" class="form-control" required="">
                                        </div>
                                       <div>
                                           <label class="form-label">Description:</label>
<!--                                           <textarea id="editor"  th:field="*{description}" name="editor" ></textarea>-->
                                       </div>
                                        <textarea name="editor1" th:field="*{description}"></textarea>
                                        <div class="col-md-6">
                                            <label class="form-label">Category:</label>
                                            <select th:field="*{category.categoryId}" class="form-select" aria-label="Default select example">
                                                <option th:each="item : ${category}" th:value="${item.categoryId}" th:text="${item.categoryName}"></option>
                                            </select>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="form-label">Price:</label>
                                            <input type="number" th:field="*{price}" class="form-control" required="">
                                        </div>
                                        <div class="col-md-12">
                                            <label class="form-label">Stock:</label>
                                            <input type="number" th:field="*{stock}" class="form-control" required="">
                                        </div>

                                        <div class="col-md-12">
                                            <label class="form-label">Ảnh sản phẩm:</label>
                                                <input type="file" name="img" accept="image/*" onchange="loadFile111(event)" class="form-check-label">
                                            <img width="90" height="90" id="output"/>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="form-label">Ảnh mô tả khác:</label>
                                            <input type="file" name="images" accept="image/*" multiple onchange="loadFiles(event)" class="form-check-label">
                                            <div id="image-preview-container"></div>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="form-label">Product Status:</label>
                                            <input type="radio" th:field="*{productStatus}" value="1">
                                            <span>Hiện</span>
                                            <input type="radio" th:field="*{productStatus}" value="0">
                                            <span>Ẩn</span>
                                        </div>
                                    </div>
                                    <a th:href="@{/admin/product}" class="btn btn-danger mt-4 text-uppercase px-5">Hủy</a>
                                    <button type="submit" class="btn btn-primary mt-4 text-uppercase px-5">Submit</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div><!-- Row End -->
            </div>
        </div>
<!--        <script>-->
<!--            ClassicEditor-->
<!--                .create( document.querySelector( '#editor' ) )-->
<!--                .then( editor => {-->
<!--                    console.log( editor );-->
<!--                } )-->
<!--                .catch( error => {-->
<!--                    console.error( error );-->
<!--                } );-->
<!--        </script>-->

<!--        <script th:src="@{/ckeditor/ckeditor.js}"></script>-->




        <script>
            var loadFile111 = function(event) {
                var reader = new FileReader();
                reader.onload = function(){
                    var output = document.getElementById('output');
                    output.src = reader.result;
                };
                reader.readAsDataURL(event.target.files[0]);
            };
        </script>

        <script>
            function loadFiles(event) {
                var container = document.getElementById('image-preview-container');
                container.innerHTML = ''; // Xóa các hình ảnh trước khi thêm mới

                var files = event.target.files;

                for (var i = 0; i < files.length; i++) {
                    var file = files[i];

                    // Kiểm tra xem file có phải là hình ảnh không
                    if (file.type.match('image.*')) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            // Tạo một thẻ <img> và đặt thuộc tính src là dữ liệu hình ảnh base64
                            var img = document.createElement('img');
                            img.src = e.target.result;
                            img.width = 90;
                            img.height = 90;

                            // Thêm hình ảnh vào container
                            container.appendChild(img);
                        };

                        // Đọc dữ liệu hình ảnh dưới dạng base64
                        reader.readAsDataURL(file);
                    }
                }
            }
        </script>


        <!-- Modal Custom Settings-->
        <th:block th:insert="admin/layout/settings.html"></th:block>

    </div>

</div>

<!--<script src="https://cdn.ckeditor.com/ckeditor5/40.1.0/classic/ckeditor.js"></script>-->
<!-- Jquery Core Js -->
<script th:src="@{/bundles/libscripts.bundle.js}"></script>

<!-- Jquery Page Js -->
<script th:src="@{../js/template.js}"></script>
</body>

</html>