<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Register</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/../images/icons/favicon.png}">


    <script>
        WebFontConfig = {
            google: { families: [ 'Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700', 'Shadows+Into+Light:400' ] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
            wf.src = 'assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" th:href="@{/../css/bootstrap.min.css}">

    <!-- Main CSS File -->
    <link rel="stylesheet" th:href="@{/../css/style.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/../vendor/fontawesome-free/css/all.min.css}">
</head>

<body>
<div class="page-wrapper mb-7">
    <th:block th:insert="/user/layout/header.html"></th:block>
    <main class="main">
        <div class="container login-container">
            <div class="d-flex justify-content-center align-items-center ">
                <div class="w-100 border-0 shadow-lg p-3 p-md-5" style="max-width: 50rem;">
                            <form action="/register" method="post" th:object="${customer}">
                                <div class="heading mb-1 text-center">
                                    <h2 class="title">Register</h2>
                                </div>
                                <div class="form-group">
                                    <label for="customerName">Name <span class="required">*</span></label>
                                    <input th:field="*{customerName}" type="text" class="form-control" id="customerName" th:classappend="${#fields.hasErrors('customerName')}?'border-danger'"/>
                                    <small class="text-danger" th:errors="*{customerName}"></small>
                                </div>

                                <div class="form-group">
                                    <label for="customerEmail">Email <span class="required">*</span></label>
                                    <input th:field="*{customerEmail}" type="text" class="form-control" id="customerEmail"/>
                                    <small class="text-danger" th:errors="*{customerEmail}"></small>
                                </div>
                                <div class="d-flex justify-content-lg-between">
                                    <div class="form-group">
                                        <label for="address">Address <span class="required">*</span></label>
                                        <input th:field="*{address}" type="text" class="form-control" id="address"/>
                                        <small class="text-danger" th:errors="*{address}"></small>
                                    </div>

                                    <div class="form-group">
                                        <label for="phone">Phone <span class="required">*</span></label>
                                        <input th:field="*{phone}" type="text" class="form-control" id="phone"/>
                                        <small class="text-danger" th:errors="*{phone}"></small>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="password">Password <span class="required">*</span></label>
                                    <input th:field="*{password}" type="password" class="form-control" id="password"/>
                                    <small class="text-danger" th:errors="*{password}"></small>
                                </div>

                                <div class="form-group">
                                    <label for="password">Confirm Password <span class="required">*</span></label>
                                    <input th:field="*{confirmPassword}" type="password" class="form-control"/>
                                    <small class="text-danger" th:errors="*{confirmPassword}"></small>
                                </div>

                                <div class="form-footer">
                                    <a th:href="@{/}" class="forget-password text-dark form-footer-left">Back</a>
                                    <a th:href="@{/forgotpass}" class="forget-password text-dark form-footer-right">Forgot your password?</a>
                                </div>

                                <div class="form-footer mb-2">
                                    <button type="submit" class="btn btn-dark btn-md w-100 mr-0">Register</button>
                                </div>
                            </form>
                </div>
            </div>
        </div>
    </main>
</div>

    <th:block th:insert="/user/layout/footer.html"></th:block> <!-- End .footer -->



<!-- Plugins JS File -->
<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script th:src="@{/../js/jquery.min.js}"></script>
<script th:src="@{/../js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/../js/plugins.min.js}"></script>

<!-- Main JS File -->
<script th:src="@{/../js/main.min.js}"></script>
</body>

</html>



