<!doctype html>
<html class="no-js" lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">


<th:block th:insert="admin/layout/head.html"></th:block>
<body>
<div id="ebazar-layout" class="theme-blue">

    <!-- sidebar -->
    <th:block th:insert="admin/layout/sidebar.html"></th:block>

    <!-- main body area -->
    <div class="main px-lg-4 px-md-4">

        <!-- Body: Header -->
        <th:block th:insert="admin/layout/header.html"></th:block>
        <!-- Body: Body -->
        <div class="body py-lg-3 py-md-2">
            <div class="container-xxl">
                <div class="row align-items-center">
                    <div class="border-0 mb-4">
                        <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                            <h3 class="text-center fw-bold mb-0">Category</h3>
                        </div>
                    </div>
                </div> <!-- Row end  -->
                <div class="row clearfix g-3">
                    <div class="">
                        <div class="card mb-3">
                            <div class="card-body">
                                <form th:object="${category}" method="post" th:action="@{/admin/add-category}">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-12">
                                            <label class="form-label">CategoryName:</label>
                                            <input type="text" th:field="*{categoryName}" class="form-control" >
<!--                                            <div th:if="${#fields.hasErrors('categoryName')}" class="error">-->
<!--                                                <span th:errors="*{categoryName}"></span>-->
<!--                                            </div>-->
                                            <small class="text-danger" th:errors="*{categoryName}"></small>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="form-label">Category Status :</label>
                                                <input type="radio" th:field="*{categoryStatus}" value="1">
                                                <span>Hiện</span>
                                                <input type="radio" th:field="*{categoryStatus}" value="0">
                                                <span>Ẩn</span>
                                        </div>

                                    </div>
                                    <a th:href="@{/admin/category}" type="submit" class="btn btn-danger mt-4 text-uppercase px-5">Hủy</a>
                                    <button type="submit" class="btn btn-primary mt-4 text-uppercase px-5">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div><!-- Row End -->
            </div>
        </div>

        <!-- Modal Custom Settings-->
        <th:block th:insert="admin/layout/settings.html"></th:block>

    </div>

</div>

<!-- Jquery Core Js -->
<script th:src="@{/bundles/libscripts.bundle.js}"></script>

<!-- Jquery Page Js -->
<script th:src="@{../js/template.js}"></script>
</body>

</html>