<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Product</title>

    <meta name="keywords" content="HTML5 Template"/>
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/../images/icons/favicon.png}">


    <script>
        WebFontConfig = {
            google: {
                families: ['Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700', 'Shadows+Into+Light:400']
            }
        };
        (function (d) {
            var wf = d.createElement('script'),
                s = d.scripts[0];
            wf.src = 'assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" th:href="@{/../css/bootstrap.min.css}">

    <!-- Main CSS File -->
    <link rel="stylesheet" th:href="@{/../css/style.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/../vendor/fontawesome-free/css/all.min.css}">
</head>

<body>
<div class="page-wrapper">
    <!-- End .top-notice -->

    <th:block th:insert="/user/layout/header.html"></th:block>
    <!-- End .header -->

    <main class="main">
        <div class="category-banner-container bg-gray">
            <div class="category-banner banner text-uppercase"
                 style="background: no-repeat 60%/cover url('assets/images/banners/banner-top.jpg');">
                <div class="container position-relative">
                    <div class="row">
                        <div class="pl-lg-5 pb-5 pb-md-0 col-md-5 col-xl-4 col-lg-4 offset-1">
                            <h3>Electronic<br>Deals</h3>
                            <a href="#" class="btn btn-dark">Get Yours!</a>
                        </div>
                        <div class="pl-lg-3 col-md-4 offset-md-0 offset-1 pt-3">
                            <div class="coupon-sale-content">
                                <h4 class="m-b-1 coupon-sale-text bg-white text-transform-none">Exclusive COUPON
                                </h4>
                                <h5 class="mb-2 coupon-sale-text d-block ls-10 p-0"><i class="ls-0">UP TO</i><b
                                        class="text-dark">$100</b> OFF</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">PRODUCTS</li>
                </ol>
            </nav>

            <div class="row">
                <div class="col-lg-9">
                    <nav class="toolbox sticky-header" data-sticky-options="{'mobile': true}">
                        <div class="toolbox-left">
                            <a href="#" class="sidebar-toggle">
                                <svg data-name="Layer 3" id="Layer_3"
                                     viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                    <line x1="15" x2="26" y1="9" y2="9" class="cls-1"></line>
                                    <line x1="6" x2="9" y1="9" y2="9" class="cls-1"></line>
                                    <line x1="23" x2="26" y1="16" y2="16" class="cls-1"></line>
                                    <line x1="6" x2="17" y1="16" y2="16" class="cls-1"></line>
                                    <line x1="17" x2="26" y1="23" y2="23" class="cls-1"></line>
                                    <line x1="6" x2="11" y1="23" y2="23" class="cls-1"></line>
                                    <path
                                            d="M14.5,8.92A2.6,2.6,0,0,1,12,11.5,2.6,2.6,0,0,1,9.5,8.92a2.5,2.5,0,0,1,5,0Z"
                                            class="cls-2"></path>
                                    <path d="M22.5,15.92a2.5,2.5,0,1,1-5,0,2.5,2.5,0,0,1,5,0Z" class="cls-2"></path>
                                    <path d="M21,16a1,1,0,1,1-2,0,1,1,0,0,1,2,0Z" class="cls-3"></path>
                                    <path
                                            d="M16.5,22.92A2.6,2.6,0,0,1,14,25.5a2.6,2.6,0,0,1-2.5-2.58,2.5,2.5,0,0,1,5,0Z"
                                            class="cls-2"></path>
                                </svg>
                                <span>Filter</span>
                            </a>
                            <form th:action="@{/sortProduct}" method="get">
                                <label>Sort By</label>
                                <div class="d-flex">
                                    <select name="sort" th:value="${sort}" class="form-select form-control"  >
                                        <option  value="name" th:selected="${sort == 'name'}">Sort by Name</option>
                                        <option  value="price" th:selected="${sort == 'price'}">Sort by Price</option>
                                    </select>
                                    <select name="sortDirection" th:value="${sortDirection}" class="form-select form-control">
                                        <option value="ASC" th:selected="${sortDirection == 'ASC'}">Ascending</option>
                                        <option value="DESC" th:selected="${sortDirection == 'DESC'}">Descending</option>
                                    </select>
                                    <button class="border-0 cursor-pointer" type="submit">Sort</button>
                                </div>
                            </form>
                            <div class="toolbox-item toolbox-sort">
                            </div>
                        </div>
                    </nav>

                    <div class="row">
                        <div class="col-6 col-sm-4" th:each="item : ${productsList}" th:unless="${not item.status}">
                            <div class="product-default">
                                <figure>
                                    <a th:href="@{/detail/{id}(id=${item.id})}">
                                        <img th:src="@{|/uploads/images/${item.urlImage}|}" alt="product"/>
                                        <img th:src="@{|/uploads/images/${item.urlImage}|}" alt="product"/>
                                    </a>

                                    <div class="label-group">
                                        <div class="product-label label-hot">HOT</div>
                                        <div class="product-label label-sale">-20%</div>
                                    </div>
                                </figure>

                                <div class="product-details">
                                    <div class="category-wrap">
                                        <div class="category-list">
                                            <a href="#" class="product-category"
                                               th:text="${item.category.name}"></a>
                                        </div>
                                    </div>

                                    <h3 class="product-title"><a href="#" th:utext="${item.name}"></a></h3>

                                    <div class="ratings-container">
                                        <div class="product-ratings">
                                            <span class="ratings" style="width:100%"></span>
                                            <!-- End .ratings -->
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <!-- End .product-ratings -->
                                    </div>
                                    <!-- End .product-container -->

                                    <div class="price-box">
                                        <span class="product-price" th:text="${#numbers.formatDecimal(item.price, 0, 'COMMA', 0, 'POINT') + ' VND'}"></span>
<!--                                        <span th:text="${#numbers.formatCurrency(item.price, 'VND')}"></span>-->

                                    </div>
                                    <!-- End .price-box -->

<!--                                    <div class="product-action">-->
<!--                                        <a href="#" class="btn-icon-wish" title="wishlist"><i-->
<!--                                                class="icon-heart"></i></a>-->
<!--                                        <input type="hidden" value="1" name="quantity">-->
<!--                                        <button type="submit" class="btn-icon btn-add-cart"><i-->
<!--                                                class="fa fa-arrow-right"></i><span>ADD CART</span></button>-->
<!--                                        <a href="#" class="btn-quickview" title="Quick View"><i-->
<!--                                                class="fas fa-external-link-alt"></i></a>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <!-- End .col-sm-4 -->
                    </div>
                    <!-- End .row -->

                    <nav class="toolbox toolbox-pagination">
<!--                                                <ul class="pagination toolbox-item">-->
<!--                                                    <li class="page-item disabled">-->
<!--                                                        <a class="page-link page-link-btn" href="#"><i class="icon-angle-left"></i></a>-->
<!--                                                    </li>-->
<!--                                                    <li class="page-item active">-->
<!--                                                        <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>-->
<!--                                                    </li>-->
<!--                                                    <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                                                    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                                                    <li class="page-item"><span class="page-link">...</span></li>-->
<!--                                                    <li class="page-item">-->
<!--                                                        <a class="page-link page-link-btn" href="#"><i class="icon-angle-right"></i></a>-->
<!--                                                    </li>-->
<!--                                                </ul>-->
                        <div class="d-flex justify-content-lg-center" th:if="${not #lists.isEmpty(productsList)}">
                            <div class="dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous">
                                        <a href="#" class="page-link" th:if="${currentPage > 1}"
                                           th:href="@{/products(page=${currentPage - 1}, keyword=${keyword})}"><i class="icon-angle-left"></i></a>
                                    </li>
                                    <li class="paginate_button page-item"
                                        th:each="pageNo : ${#numbers.sequence(1, finalPage)}">
                                        <a th:href="@{/products(page=${pageNo}, keyword=${keyword})}"
                                           th:text="${pageNo}" class="page-link"
                                           th:classappend="${currentPage == pageNo} ? 'text-decoration-underline' : ''"></a>
                                    </li>
                                    <li class="paginate_button page-item next">
                                        <a href="#" class="page-link" th:if="${currentPage < finalPage}"
                                           th:href="@{/products(page=${currentPage + 1}, keyword=${keyword})}"><i class="icon-angle-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <!-- End .col-lg-9 -->

                <div class="sidebar-overlay"></div>

                <aside class="sidebar-shop col-lg-3 mobile-sidebar">
                    <form action="/products" method="get">
                        <label>Search:</label>
                        <input type="text" class="form-control form-control-sm" name="keyword"
                               th:value="${keyword}" placeholder="" aria-controls="myDataTable">
                    </form>
                    <div class="sidebar-wrapper">

                        <div class="widget">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-body-2" role="button" aria-expanded="true"
                                   aria-controls="widget-body-2">Categories</a>
                            </h3>

                            <div class="collapse show" id="widget-body-2">
                                <div class="widget-body">
                                    <ul class="cat-list">
                                        <li>
                                            <a href="/products" class="collapsed"
                                               aria-controls="widget-category-2">
                                                All Product
                                            </a>

                                        </li>
                                        <li th:each="item : ${categoryList}" th:unless="${not item.status}" class="collapsed" data-toggle="collapse"  aria-expanded="false" aria-controls="widget-category-3">
                                            <a th:href="@{/products/{id} (id=${item.id})}"
                                                aria-controls="widget-category-1" th:text="${item.name}">

                                            </a>
                                        </li>

<!--                                        <li>-->
<!--                                            <a href="#widget-category-3" class="collapsed" data-toggle="collapse"-->
<!--                                               role="button" aria-expanded="false" aria-controls="widget-category-3">-->
<!--                                                Electronics-->
<!--                                            </a>-->
<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <a href="#widget-category-4" class="collapsed" data-toggle="collapse"-->
<!--                                               role="button" aria-expanded="false" aria-controls="widget-category-4">-->
<!--                                                Fashion-->
<!--                                            </a>-->

<!--                                        </li>-->
<!--                                        <li><a href="#">Music</a><span class="products-count">(2)</span></li>-->
                                    </ul>
                                </div>
                                <!-- End .widget-body -->
                            </div>
                            <!-- End .collapse -->
                        </div>
                        <!-- End .widget -->

<!--                        <div class="widget">-->
<!--                            <h3 class="widget-title">-->
<!--                                <a data-toggle="collapse" href="#widget-body-3" role="button" aria-expanded="true"-->
<!--                                   aria-controls="widget-body-3">Sort By</a>-->
<!--                            </h3>-->
<!--                            <div class="collapse show" id="widget-body-3">-->
<!--                                <div class="widget-body pb-0">-->

<!--                                </div>-->
<!--                                &lt;!&ndash; End .widget-body &ndash;&gt;-->
<!--                            </div>-->
<!--                            &lt;!&ndash; End .collapse &ndash;&gt;-->
<!--                        </div>-->
                        <!-- End .widget -->


                        <div class="widget widget-featured">
                            <h3 class="widget-title">Featured</h3>

                            <div class="widget-body">
                                <div class="owl-carousel widget-featured-products">
                                    <div class="featured-col" th:each="item,iterStat : ${productsList}" th:unless="${not item.productStatus}" th:if="${iterStat.index < 3}">
                                        <div class="product-default left-details product-widget">
                                            <figure>
                                                <a th:href="@{/detail/{id}(id=${item.id})}">
                                                    <img th:src="@{|/uploads/images/${item.urlImage}|}" alt="product"/>
                                                    <img th:src="@{|/uploads/images/${item.urlImage}|}" alt="product"/>
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <h3 class="product-title"><a href="#" th:text="${item.name}"></a></h3>
                                                <div class="ratings-container">
                                                    <div class="product-ratings">
                                                        <span class="ratings" style="width:100%"></span>
                                                        <!-- End .ratings -->
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                    <!-- End .product-ratings -->
                                                </div>
                                                <!-- End .product-container -->
                                                <div class="price-box">
                                                    <span class="product-price" th:text="${#numbers.formatDecimal(item.price, 0, 'COMMA', 0, 'POINT') + ' VND'}"></span>
                                                </div>
                                                <!-- End .price-box -->
                                            </div>
                                            <!-- End .product-details -->
                                        </div>

                                    </div>
                                    <!-- End .featured-col -->

                                    <div class="featured-col">
                                        <div class="product-default left-details product-widget">
                                            <figure>
                                                <a href="#">
                                                    <img th:src="@{/../images/products/small/product-1.jpg}" width="75"
                                                         height="75" alt="product"/>
                                                    <img th:src="@{/../images/products/small/product-1-2.jpg}"
                                                         width="75" height="75" alt="product"/>
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <h3 class="product-title"><a href="#">Ultimate 3D
                                                    Bluetooth Speaker</a></h3>
                                                <div class="ratings-container">
                                                    <div class="product-ratings">
                                                        <span class="ratings" style="width:100%"></span>
                                                        <!-- End .ratings -->
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                    <!-- End .product-ratings -->
                                                </div>
                                                <!-- End .product-container -->
                                                <div class="price-box">
                                                    <span class="product-price">$49.00</span>
                                                </div>
                                                <!-- End .price-box -->
                                            </div>
                                            <!-- End .product-details -->
                                        </div>
                                        <div class="product-default left-details product-widget">
                                            <figure>
                                                <a href="product.html">
                                                    <img th:src="@{/../images/products/small/product-2.jpg}" width="75"
                                                         height="75" alt="product"/>
                                                    <img th:src="@{/../images/products/small/product-2-2.jpg}"
                                                         width="75" height="75" alt="product"/>
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <h3 class="product-title"><a href="product.html">Brown Women Casual
                                                    HandBag</a></h3>
                                                <div class="ratings-container">
                                                    <div class="product-ratings">
                                                        <span class="ratings" style="width:100%"></span>
                                                        <!-- End .ratings -->
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                    <!-- End .product-ratings -->
                                                </div>
                                                <!-- End .product-container -->
                                                <div class="price-box">
                                                    <span class="product-price">$49.00</span>
                                                </div>
                                                <!-- End .price-box -->
                                            </div>
                                            <!-- End .product-details -->
                                        </div>
                                        <div class="product-default left-details product-widget">
                                            <figure>
                                                <a href="product.html">
                                                    <img th:src="@{/../images/products/small/product-3.jpg}" width="75"
                                                         height="75" alt="product"/>
                                                    <img th:src="@{/../images/products/small/product-3-2.jpg}"
                                                         width="75" height="75" alt="product"/>
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <h3 class="product-title"><a href="#">Circled Ultimate
                                                    3D Speaker</a></h3>
                                                <div class="ratings-container">
                                                    <div class="product-ratings">
                                                        <span class="ratings" style="width:100%"></span>
                                                        <!-- End .ratings -->
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                                <div class="price-box">
                                                    <span class="product-price">$49.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
        <div class="mb-4"></div>
    </main>

    <th:block th:insert="/user/layout/footer.html"></th:block>
</div>
<!-- End .page-wrapper -->

<div class="loading-overlay">
    <div class="bounce-loader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>

<div class="mobile-menu-overlay"></div>
<!-- End .mobil-menu-overlay -->


<!-- End .mobile-menu-container -->




<a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

<!-- Plugins JS File -->
<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script th:src="@{/../js/jquery.min.js}"></script>
<script th:src="@{/../js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/../js/plugins.min.js}"></script>
<script th:src="@{/../js/nouislider.min.js}"></script>

<!-- Main JS File -->
<script th:src="@{/../js/main.min.js}"></script>
</body>


</html>